* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: rgb(47, 47, 47);

    background-image: repeating-linear-gradient(
        135deg,
        rgba(7, 176, 238, 0.258) 0px,
        rgba(120, 120, 120, 0.08) 2px,
        transparent 1px,
        transparent 20px
    );
}

.principio {
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: rgba(25, 53, 74, 0.727);

    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 1.2rem;

    border-radius: 2rem;
}

.container form {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.container form select,
.container form input {
    width: 100%;

    margin-bottom: 1rem;

    border: none;
    border-radius: 0.35rem;

    background-color: rgba(149, 149, 149, 0.497);

    padding: 0.2rem;
}

.container form button,
.container button {
    width: 100%;

    background: rgb(0, 110, 255);

    border: none;
    border-radius: 0.8rem;

    padding: 0.7rem;

    color: white;
    font-weight: bold;
    font-size: 1rem;

    cursor: pointer;
}
.container table {
    border-collapse: collapse;
    width: 100%;
}

.container table th,
.container table td {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0.7rem;
    text-align: center;
}

.container table th {
    background-color: rgba(0, 110, 255, 0.7);
}

.container table td {
    background-color: rgba(149, 149, 149, 0.2);
}
.container table a {
    background-color: rgb(200, 40, 40);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
}